<!DOCTYPE html>
<html lang="en" xml:lang="en">

<head lang="en" xml:lang="en">
  <meta charset="utf-8">
  <title>Train Ticket Booking System</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="css/normalize.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  {%block content%}
  <p>Hello, world!</p>

  <script src="js/script.js"></script>
  {% endblock %}
</body>

</html>